* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Red Hat Text', sans-serif;
}
body {
    --default-background-color: #fff;
    --text-color: #000;
    --url-github-icon: url('../assets/GH.png');
    --url-linkedin-icon: url('../assets/LI.png');
}
body.dark-theme {
    --default-background-color: #000;
    --text-color: #fff;
    --url-github-icon: url('../assets/GH-Light-32px.png');
    --url-linkedin-icon: url('../assets/LI-Light.png');
}
.hidden {
    visibility: hidden;
}

.content-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.left-wrapper {
    color: var(--text-color);
    background-color: var(--default-background-color);
    flex: 50%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
    transition: all .3s;
}
.controls-wrapper {
    margin: 15px 0;
}
.btn-toggle {
    display: flex;
    flex-flow: row wrap;
    border: 3px solid var(--text-color);
    border-radius: 4px;
    padding: 1px;
    margin: 0 10px;
}
.personal-wrapper {
    width: 100%;
    text-align: end;
    margin: 15px 0;
}
.personal-wrapper h1 {
    padding: 0 15px;
}
.links-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 15px 0;
}
.social-media-wrapper {
    flex: 1 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
#github-link {
    width: 24px;
    height: 24px;
    background-image: var(--url-github-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#linkedin-link {
    width: 24px;
    height: 24px;
    background-image: var(--url-linkedin-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.image-link-wrapper {
    flex: 3 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}
.image-link-wrapper p {
    flex: 1 50px;
    text-align: end;
    padding: 0 15px;
}

.image-wrapper {
    background-color: antiquewhite;
    flex: 50%;
    height: 100vh;
}
.image-show {
    width: 100%;
    height: 100%;
    background-color: var(--default-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: all .3s;
}
a:hover {
    color: gray;
}